@font-face {

    font-family: Archivo;
    src: url("Archivo-Regular.ttf");

}


body {

    margin: 0;
    background-color: #7eff5e;
    font-family: Archivo;

}

.show {
    top: 0vh;
}

.hide {
    top: -10vh;
}

#more {

    outline: none;
    border: none;
    background-color: yellow;
    width: 20%;
    height: 10vh;
    font-size: 30px;

}

#more:active {

    background-color: #434c13;
    color: yellow;

}

#navbar {

    position: relative;
    float: right;
    width: 80%;
    height: 10vh;
    background-color: yellow;
    transition: .3s;

}

#navbar button {

    outline: none;
    border: none;
    background-color: yellow;
    width: 16%;
    height: 10vh;
    padding: 5px;
    font-size: 11px;
    margin: 0px 0px 0px 5px;
    font-weight: bolder;

}

#navbar button:active {

    background-color: #434c13;
    color: yellow;

}

#text {

    color: green;
    font-family: impact;
    margin: auto;
    text-align: center;
    font-size: 25px;
    width: 70%;

}

#huis {

    width: 90%;
    margin: 0 5% 5% 5%;

}

#baby {

    width: 45%;
    margin: 0 5% 5% 5%;

}

#appel {

    display: none;

}

#keyboard {

    display: none;
    width: 90%;
    margin: 0 5% 5% 5%;

}

#papier {

    width: 40%;
    margin: 0 5% 5% 0;
    float: right;

}

#patat {

    display: none;
    width: 20%;
    height: 10vh;
    float: left;
    background-color: yellow;

}

#auto {

    width: 90%;
    margin: 0 5% 5% 5%;

}

#vlieg {

    width: 45%;
    margin: 0 5% 5% 5%;

}

#konijn {

    display: none;

}

#mouse {

    float: right;
    width: 40%;
    margin: 0 5% 0 0;

}

@media (min-width:442px) {

body {
    background-color: blue;
}

#more {

    display: none;

}

#navbar {

    top: 0vh;
    background-color: purple;

}

#navbar button {

    color: white;
    background-color: purple;
    font-size: 15px;

}

#text {

    width: 80%;
    color: white;
    font-family: arial;
    font-size: 35px;

}

#patat {

    display: block;
    background-color: purple;

}

#huis {

    width: 40%;

}

#baby {

    width: 40%;
    float: right;
    margin: 0 5% 5% 0;

}

#auto {

    width: 40%;

}

#vlieg {

    width: 90%;

}

#mouse {

    float: left;
    margin: 0 5% 5% 5%;

}

#konijn {

    display: block;
    float: right;
    width: 40%;
    margin: 0 5% 5% 5%;

}

}

@media (min-width:769px) {

    body {

        background-color: red;

    }

    #text {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;

    }

    #keyboard {

        display: block;

    }

    #navbar button {

        font-size: 25px;
        background-color: orange;
        color: green;

    }

    #navbar {

        background-color: orange;
        width: 80%;
        margin: 0 auto;
        float: inherit;

    }

    #patat {

        display: none;

    }

    #appel {

        display: block;
        width: 15%;
        margin: 0 auto;

    }

}